{{define "layout"}}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>jargon, a lemmatizer for Go</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <style>
        body {
            padding-top: 5rem;
        }

        pre.result {
            white-space: pre-wrap;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="">jargon</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Demo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/clipperhouse/jargon" target="_blank">Source + docs ↗</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" role="main">
        <h1>jargon</h1>

        <p class="lead">
            A lemmatizer, useful for substituting canonical terms in text and HTML.
            <a href="https://github.com/clipperhouse/jargon">Learn more...</a>
        </p>
        <form method="POST" id="text-form">
            <div class="form-group">
                <label for="text">
                    <strong>Try some text here</strong>
                </label>
                <textarea class="form-control" id="text" name="text" rows="6">{{- .Original -}}</textarea>
            </div>

            <p>
                <button type="submit" class="btn btn-primary">Lemmatize</button>
                <a href="" class="btn btn-link">reset</a>
            </p>

            <div id="result">
                {{ if .Result }} {{ template "_result" .}} {{ end }}
            </div>
        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        (function () {
            // Intercept the submit to use ajax
            $(document).on("submit", "#text-form", function (e) {
                var url = this.action;
                var data = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: update
                });
                e.preventDefault();
            });

            function update(html) {
                $("#result").html(html);
            }
        })();
    </script>
</body>

</html>

{{end}}